*{margin:0 auto;padding:0;list-style-type:none;}
#wrap{width:1450px;height:1150px;}
header{width:auto;height:100px;}
body{width:auto;height:auto;}
#content{width:auto;height:935px;}
a{text-decoration:none}

#header{width:1450px;height:100px;background-color:#424242;position:fixed;}
#mainLogo{width:250px;height:100px;float:left;text-align:center;line-height:100px;}
#mainLogo img{margin:0 auto;vertical-align:middle;}
#header>ul{width:300px;height:100px;float:right;}
#header>ul>li{width:100px;height:50px;float:left;margin-top:25px;}
#header>ul>li>a{width:100px;height:50px;float:right;line-height:50px;text-align:center;color:white;vertical-align:middle;}
#mainMenu li:hover a{background-color:skyblue;transition:0.3s;color:black;}

#subContent1{width:500px;height:950px;float:left;}
#subContent2{width:950px;height:100px;float:right;}
#gonggoMask{width:605px;height:45px;}
.gonggoBtn{width:300px;height:40px;text-align:center;line-height:40px;background-color:white;float:left;border:1px solid black;font-size:13px;font-weight:bold;}

#subContent3{width:800px;height:200px;float:right;text-align: center;border-bottom:1px solid black;}
#subContent3 table{width:800px;height:30px;border-top:1px solid;float:right;}
#subContent3 tr:first-child td{font-weight:bold;border-bottom:1px solid black;font-size:15px;}
#subContent3 tr td:first-child{width:200px;height:30px;text-align:left;}
#subContent3 tr td{width:100px;height:30px;text-align:center;font-size:12px;}

#subContent3 button{text-align:center;width:60px;height:30px;font-size:10px;line-height:10px;float:inherit;border:0;}
#subContent3 button:first-child{background-color:red;color:white;}
#subContent3 button:last-child{background-color:white;color:#424242;border:0.5px solid black;}
/*footer*/
footer{width:auto;height:100px;background-color:#F2F2F2;text-align:center;font-size:12px;}
#footer{padding-top:30px;}