*{margin:0;padding:0;list-style: none;text-decoration:none;box-sizing: border-box;}

#wrap{margin:0 auto;width:1000px;height:1050px;}
li {text-align: center;}
header{width:1000px;height:100px;}
#logoLogin{width:1000px;height:50px;}
#mainLogo{float:left;}
#mask{width:1000px;height:1200px;background-color:black;position:absolute;opacity: 0.8;z-index:1;display:none;}
/*로그인페이지*/
#loginPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:2;background-color:white;display:none;}
.loginHeader{width:500px;height:50px;margin-bottom:30px;}
#loginPage form{width:500px;height:300px;}
.loginHeader h1{width:200px;float:left;margin-left:150px;text-align:center;}
#loginPage dl{width:350px;height:50px;margin:0 auto; margin-bottom:10px;}
#loginPage input{width:196px;height:30px;}
#loginPage dd{width:200px;height:50px;float:left;line-height:50px;}
#loginPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
.exit{width:50px;height:50px;float:right;clear:right;}
.sign_ok{width:100px;height:50px;border:0;background-color:#08298A;color:white;font-size:20px;}
.ok_button{width:500px;height:50px;margin-top:50px;text-align:center;}
/*회원가입페이지*/
#sign_upPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:2;background-color:white;display:none;}
#sign_upPage form{width:500px;height:300px;}
#sign_upPage dl{width:350px;height:50px;margin:0 auto;margin-bottom:10px;}
#sign_upPage input{width:196px;height:30px;}
#sign_upPage dd{width:200px;height:50px;float:left;line-height:50px;}
#sign_upPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
/*헤더탑링크*/
#header_top_linkWrap{width:470px;height:50px;float:right;}
#header_top_link{width:210px;height:50px;float:left;line-height:50px;}
#header_top_link li{width:100px;height:50px;float:left;text-align:center;font-size:13px;}
#header_top_link span{width:1px;height:50px;float:left;font-size:13px;}
#mainSuch{width:250px;height:50px;float:left;}
#mainSuch form{width:250px;height:50px;line-height:50px;float:left;}
#such{height:36px;float:left;margin-top:7px;}
#suchImage{margin-top:7px;float:left;}
/*드롭다운메뉴*/
#dropMenuWrap{width:1000px;height:50px;position: relative;background-color:#A4A4A4;color:white;}
#dropMenu{width:800px;height:50px;margin:0 auto;}
#dropMenu>ul{width:800px;height:50px;float:left;}
#dropMenu>ul>li{width:200px;height:50px;float:left;text-align:center;line-height:50px;}
#dropMenu>ul>li>ul>li{width:auto;height:0px;overflow: hidden;}
#dropMenu>ul>li:hover{height:50px;transition:.5s;background-color:#08298A;}
#dropMenu>ul>li:hover a{transition:.5s;color:white;}
#dropMenu>ul>li:hover ul li{height:50px;transition:.5s;background-color:#08298A;color:white;}
#dropMenu>ul>li>a{color:black;width:100px;}

#content{width:1000px;height:950px;}
#mainSlide{width:1000px;height:500px;overflow:hidden;margin-top:10px;}
#mainSlide > ul {width: 300%; height: 500px;}
#mainSlide > ul > li {width: 1000px; height: 500px; float: left;}
#mainSlide > ul > li > img {width: 1000px; height: 500px; float : left;}

#downContent{width:1000px;height:400px;float:left;margin-top:10px;}
#noticeBox{width:600px;;height:190px;;background-color:white;margin:10px;float: left}
.title{width:500px;}
#notice{width:100px;}
#notice2{width:350px;}
#notice a{color:#08298A;}
#notice2 a{color:black;}
.title>td{font-size:12px;text-align:center;}
#detailed a{color:black;}
.noticeContent td:first-child{font-size:14px;}
.noticeContent2 td:first-child{font-size:14px;}
.noticeContent td:last-child{font-size:14px;}
.noticeContent2 td:last-child{font-size:14px;}
#noticeBox th{height:30px;text-align: left;font-size:17px;}
#noticeContent{width:600px;height:100px;overflow: hidden;}
#noticeContent2{width:600px;height:0px;overflow: hidden;}
.noticeContent td:first-child{width:450px;height:30px;}
.noticeContent2 td:first-child{width:450px;height:30px;}
.noticeContent td:last-child{width:150px;height:30px;text-align:center;}
.noticeContent2 td:last-child{width:150px;height:30px;text-align:center;}
#detailed{width:150px;text-align:center;}
#imgContent{width:380px;height:400px;text-align:center;float:right;}

#ss{width:600px;height:200px;float:left;}
#ss img{width:300px;height:200px;}
#ss2{width:300px;height:20px;float:right;border-bottom:1px solid black;}
#ss2 th{width:50px;height:20px;float:right;line-height:20px;}
0/*#ss2 td{font-size:13px;border-top:1px solid black;border-bottom:1px solid black;}*/
#ss3 td:first-child{width:50px;height:50px;float:right;line-height:50px;}
#ss3{width:300px;height:200px;float:right;clear:right;font-size:13px;}
#ssWrap{width:300px;height:150px;float:right;border:1px solid black;}
#ss>img{border:1px solid black;}

footer{height:150px;background-color:#E6E6E6;}
#footerWrap{width:1000px;height:100px;margin:0 auto;padding-top:10px;}
#footerWrap img{float:left;}
#footerP{width:500px;height:42px;line-height:42px;background-color:white;text-align:center;float:left;margin-left:30px;}
#footerP a{color:black;padding:10px;font-size:13px;}
#footerP2{width:500px;height:50px;margin:0 auto;}
#footerP2 p{width:500px;color:#A4A4A4;font-size:13px;}
#footerP2 p:last-child{font-weight:bold;}