*{margin:0;padding:0;list-style: none;text-decoration:none;box-sizing: border-box;}

#wrap{margin:0 auto;width:1000px;height:1050px;}
li {text-align: center;}
header{width:1000px;height:100px;}
#logoLogin{width:1000px;height:50px;}
#mainLogo{float:left;}
#mask{height:1200px;background-color:black;position:absolute;opacity: 0.8;z-index:1;display:none;z-index:3;}
/*로그인페이지*/
#loginPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:2;background-color:white;display:none;z-index:4;}
.loginHeader{width:500px;height:50px;margin-bottom:30px;}
#loginPage form{width:500px;height:300px;}
.loginHeader h1{width:200px;float:left;margin-left:150px;text-align:center;}
#loginPage dl{width:350px;height:50px;margin:0 auto; margin-bottom:10px;}
#loginPage input{width:196px;height:30px;}
#loginPage dd{width:200px;height:50px;float:left;line-height:50px;}
#loginPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
.exit{width:50px;height:50px;float:right;clear:right;}
.sign_ok{width:100px;height:50px;border:0;background-color:#08298A;color:white;font-size:20px;}
.ok_button{width:500px;height:50px;margin-top:50px;text-align:center;}
/*회원가입페이지*/
#sign_upPage{width:500px;height:500px;position:fixed;margin-top:100px;margin-left:250px;z-index:2;background-color:white;display:none;z-index:4;}
#sign_upPage form{width:500px;height:300px;}
#sign_upPage dl{width:350px;height:50px;margin:0 auto;margin-bottom:10px;}
#sign_upPage input{width:196px;height:30px;}
#sign_upPage dd{width:200px;height:50px;float:left;line-height:50px;}
#sign_upPage dt{width:150px;height:50px;clear:left;float:left;line-height:50px;}
/*헤더탑링크*/
#header_top_linkWrap{width:470px;height:50px;float:right;}
#header_top_link{width:210px;height:50px;float:left;line-height:30px;}
#header_top_link ul{width:200px;height:50px;vertical-align: middle;}
#header_top_link li{width:100px;height:30px;float:left;text-align:center;font-size:13px;border:1px solid #A4A4A4;vertical-align: middle;margin-top:10px;}
#mainSuch{width:250px;height:50px;float:left;}
#mainSuch form{width:250px;height:50px;line-height:50px;float:left;}
#such{height:36px;float:left;margin-top:7px;}
#suchImage{margin-top:7px;float:left;}
#login:hover{color:blue;}
#sign_up:hover{color:blue;}
/*드롭다운메뉴*/
#dropMenuWrap{width:1000px;height:50px;position: relative;background-color:#A4A4A4;color:white;}
#dropMenu{width:800px;height:50px;margin:0 auto;}
#dropMenu>ul{width:800px;height:50px;float:left;}
#dropMenu>ul>li{width:200px;height:50px;float:left;text-align:center;line-height:50px;}
#dropMenu>ul>li>ul>li{width:auto;height:0px;overflow: hidden;}
#dropMenu>ul>li:hover{height:50px;transition:.5s;background-color:#08298A;}
#dropMenu>ul>li:hover a{transition:.5s;color:white;}
#dropMenu>ul>li:hover ul li{height:50px;transition:.5s;color:black;background-color:white;}
#dropMenu>ul>li:hover ul{border:1px solid #08298A;}
#dropMenu>ul>li ul li:hover{color:#08298A;font-weight:bold;}
#dropMenu>ul>li>a{color:black;width:100px;}

#content{width:1000px;height:950px;}
#mainSlide{width:1000px;height:500px;overflow:hidden;border:1px solid #08298A;}
#mainSlide > ul {width:3000px; height: 500px;}
#mainSlide > ul > li {width: 1000px; height: 500px; float: left;}
#mainSlide > ul > li > img {width: 1000px; height: 500px; float : left;}

#downContent{width:1000px;height:450px;float:left;margin-top:20px;}
#noticeBox{width:670px;;height:190px;;background-color:white;margin-right:10px;float:left;margin-bottom:10px;}
#noticeBox table{width:670px;}
.title{width:670px;}
#notice{width:100px;float:left;}
#notice2{width:100px;float:left;}
#notice p{color:#08298A;line-height:30px;}
#notice2 p{color:black;line-height:30px;}
.title>td{font-size:12px;text-align:center;}
#detailed p{color:black;}
.noticeContent td{font-size:14px;}
.noticeContent2 td{font-size:14px;}
#noticeBox th{height:30px;text-align: left;font-size:17px;}
#noticeBox table{border:1px solid #D8D8D8;}
#noticeContent{width:670px;height:100px;overflow: hidden;}
#noticeContent2{width:670px;height:0px;overflow: hidden;}
.noticeContent td:first-child{width:550px;height:30px;}
.noticeContent2 td:first-child{width:550px;height:30px;}
.noticeContent td:last-child{width:150px;height:30px;text-align:center;}
.noticeContent2 td:last-child{width:150px;height:30px;text-align:center;}
#detailed{width:100px;text-align:center;float:right;line-height:30px;}

#imgContent{width:310px;height:400px;text-align:center;float:right;overflow:hidden;border:1px solid #08298A;}
#imgContent ul{width:310px;height:400px;}
#imgContent li{width:310px;height:0px;position:relative;float:left;}
#imgContent img{width:auto;height:400px;}
#imgContent li:first-child {z-index:1;}
#dote_ul{width:60px;height:10px;z-index:2;position:relative;float:left;margin-top:-20px;}
.dote{width:10px;height:10px;background-color:black;z-index:2;float:left;margin-left:10px;}

#ss{width:300px;height:200px;float:right;line-height:50px;text-align:center;border:1px solid #D8D8D8;margin-right:20px;}
#eat_notice{width:300px;height:50px;}
#eat_notice ul{height:50px;}
#eat_notice li:first-child{width:150px;float:left;font-weight:bold;}
#eat_notice li:last-child a{width:50px;float:right;font-size:20px;font-weight:bold;color:#08298A;}
#ss img{width:250px;height:125px;}

#month_pp{width:340px;height:200px;float:left;border:1px solid #D8D8D8;}
#month_header{height:120px;}
#month_header ul{height:120px;margin-bottom:5px;}
#month{width:340px;height:50px;line-height:50px;}
#day{font-size:70px;font-weight:bold;width:270px;height:70px;text-align:center;float:left;line-height:70px;color:#08298A;}
#day_left{font-size:30px;float:left;width:30px;height:70px;line-height:70px;}
#day_left:hover{color:#08298A;}
#day_right{font-size:30px;float:left;width:30px;height:70px;line-height:70px;}
#day_right:hover{color:#08298A;}
#month_header p{width:340px;height:37px;text-align:center;border-top:1px solid #D8D8D8;line-height:37px;}

footer{height:150px;background-color:#E6E6E6;}
#footerWrap{width:1000px;height:150px;padding-top:10px;margin:0 auto;}
#footerWrap img{float:left;}
#footerP{width:500px;height:42px;line-height:42px;background-color:white;text-align:center;float:left;margin-left:30px;}
#footerP a{color:black;padding:10px;font-size:13px;}
#footerP2{width:500px;height:50px;margin:0 auto;}
#footerP2 p{width:500px;color:#A4A4A4;font-size:13px;}
#footerP2 p:last-child{font-weight:bold;}
