*{margin:0 auto;padding:0;list-style-type:none;}
#wrap{width:1250px;height:1150px;}
header{width:auto;height:100px;background-color:#424242;}
body{width:auto;height:auto;}
#content{width:auto;height:935px;}
a{text-decoration:none}

#mainLogo{width:250px;height:100px;float:left;text-align:center;line-height:100px;}
#mainLogo img{margin:0 auto;vertical-align:middle;}
header>ul{width:300px;height:100px;float:right;}
header>ul>li{width:100px;height:50px;float:left;margin-top:25px;}
header>ul>li>a{width:100px;height:50px;float:right;line-height:50px;text-align:center;color:white;vertical-align:middle;}
#mainMenu li:hover a{background-color:skyblue;transition:0.3s;color:black;}
table{width:650px;height:150px;}
tr{width:650px;border-bottom:1px solid black}
#subContent1{width:500px;height:950px;float:left;}
#subContent2{width:750px;height:950px;float:right;}
th{font-size:24px;text-align:left;line-height:72px;border-bottom:1px solid black;}
tr:last-child td{border-bottom:1px solid black;}
.leadTd>td{color:black;font-size:16px;}
td{font-size:13px;padding:5px;color:#BDBDBD;}
#middleBorder{border-bottom:1px solid #BDBDBD;}
#blackBox{margin-top:20px;width:20px;height:20px;background-color:black;color:white;text-align:center;line-height:20px;font-size:10px;}
footer{width:auto;height:100px;background-color:#F2F2F2;text-align:center;font-size:12px;}
#footer{padding-top:30px;}